/* Challenge CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  font-size: 16px; /* 1rem = 16px by default */
}

/* Navbar styles */
.navbar {
  background-color: #333333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.625rem 3.75rem; /* 10px 60px */
  z-index: 3;
  position: relative;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  color: #00ffa3;
}

.logo img {
  border-radius: 50%;
  margin-right: 0.625rem; /* 10px */
  border: 0.125rem solid #00ffa3; /* 2px */
}

.menu a {
  margin: 0.625rem; /* 10px */
  font-weight: 400;
  text-decoration: none;
  color: white;
  padding: 0.5rem 1rem; /* 8px 16px */
}

.menu a:hover {
  color: #00ffa3;
  background-color: rgba(0, 255, 163, 0.1);
  border-radius: 0.25rem; /* 4px */
}

/* Hero section styles */
.hero {
  background: url(./assets/cohort.png) no-repeat center center/cover;
  height: 62.6vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6.25rem; /* 100px */
  text-align: center;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70.2%;
  background-color: rgba(0, 0, 0, 0.774);
  z-index: 1;
}

.hero-content {
  color: #00ffa3;
  position: relative;
  z-index: 2;
}

.hero-content h1 {
  font-size: 2.1875rem;
}

.hero-content p {
  color: white;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.enroll-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3125rem; 
}

.enroll-section > img {
  height: 12.0625rem; 
  width: 20.5rem; 
  border: 0.125rem solid #00ffa3; 
  border-radius: 0.625rem;
}

.enroll-button {
  padding: 0.9375rem 2.5rem;
  font-size: 1.2rem;
  background-color: #00ffa3;
  color: #000;
  border: none;
  border-radius: 1.5625rem; 
  cursor: pointer;
  margin-top: 0.9375rem;
}

.enroll-button:hover {
  background: linear-gradient(45deg, #00ffa2af, #00ffa3);
  color: white;
  transform: scale(1.05);
}

/* Highlights section styles */
.highlights {
  background-color: #1a1a1a;
  display: flex;
  padding: 2.5rem 1.25rem; /* 40px 20px */
  gap: 9.5rem; /* 40px */
  justify-content: center;
}

.highlight-card {
  background-color: #2a2a2a;
  width: 18.75rem; /* 300px */
  padding: 2.78rem; /* 40px */
  border-radius: 0.9375rem; /* 15px */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.highlight-card h3 {
  color: #00ffa3;
  margin-bottom: 0.9375rem; /* 15px */
}

.highlight-card p {
  color: #cfcbcb;
  text-align: center;
  font-size: 0.59375rem; /* 0.95rem */
}
