* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #1a1a1a;
  margin: 0;
  padding: 90px 20px;
}

.container {
  margin: auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

h1 {
  color: #fc6f6e;
}

.subtitle {
  color: #888888;
}

.pricing-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.pricing-card {
  background-color: #ffffff;
  padding: 30px 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 280px;
  text-align: center;
  border: none;
  transition: transform 0.3s ease;
}

.pricing-card:hover {
  transform: translateY(-5px);
}

.card-header {
  color: #ffffff;
}

.icon {
  font-size: xx-large;
  margin: 20px 0px;
}

.popular-tag {
  background: #fcda4c;
  color: #000;
  padding: 5px 15px;
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 25px;
  font-size: 12px;
  font-weight: bold;
}

.price-block {
  background-color: rgba(128, 128, 128, 0.13);
  padding: 10px 0;
  border: none;
  border-radius: 10px;
}

.price {
  font-size: xx-large;
  font-weight: bolder;
  color: #fc6f6e;
}

.period {
  color: #888888;
  text-transform: uppercase;
  font-size: small;
}

.features {
  padding: 10px;
  list-style: none;
  padding-left: 0;
}

.features li {
  list-style-type: none;
  display: list-item;
  position: relative;
  padding-left: 20px;
  text-align: left;
  margin: 20px 0;
  color: #d3d2d2;
}

.features li::before {
  content: '✓';
  position: absolute;
  left: 0;
  top: 0;
}

.features li.disabled::before {
  content: '✗';
}
.features li.disabled {
  color: #888;
}
.join-btn {
  background-color: transparent;
  border: 2px solid #fc6f6e;
  color: #fc6f6e;
  padding: 10px 35px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 10px;
  transition: background 0.3s ease;
}

.join-btn:hover {
  background-color: #fc6f6e;
  color: #ffffff;
}

.beginner {
  background-color: #262626;
  border: 2px solid #3c3c3c;
  border-left: none;
}

.warrior {
  position: relative;
  background-color: #312222;
  border: 2px solid #fc6f6e;
  border-left: none;
}

.champion {
  background-color: #312d1e;
  border: 2px solid #fcda4c;
  border-left: none;
}

.champion .price {
  color: #fcda4c;
}

.champion .join-btn {
  color: #fcda4c;
  border: 2px solid #fcda4c;
}

.champion .join-btn:hover {
  background-color: #fcda4c;
  color: #000;
}
